.custom-maximized {
    margin-top: -42px !important;
}
.left-aligned-dialog {
    margin-left: 20rem !important;
}
.mac-folder-dialog {
    background-color: transparent !important;  // max-width: none !important;
    border-radius: 20px;
    // background-color: red;
}

.mat-mdc-dialog-surface {
    // background-color: transparent !important;
    border-radius: 10px !important;
}