<div class="widget mac-glass text-white	">
    <div class="flex justify-between">
        <div>
            <div class="font-medium">
                Guwahati
            </div>
            <div class="font-medium text-4xl">
                32°
            </div>
        </div>
        <div class="grid justify-items-end">
            <div class="">
                <img src="../../../../../assets/images/sun.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div class="text-xs	font-medium">
                Partly Cloudy
            </div>
            <div class="text-xs font-medium">
                H:88° L:23°
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="grid grid-cols-6 gap-1 justify-items-center text-xs pt-2">
            <div class="text-[10px]">10 AM</div>
            <div class="text-[10px]">11 AM</div>
            <div class="text-[10px]">12 AM</div>
            <div class="text-[10px]">1 PM</div>
            <div class="text-[10px]">2 PM</div>
            <div class="text-[10px]">3 PM</div>

            <div>
                <img src="../../../../../assets/images/sun.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div>
                <img src="../../../../../assets/images/sun.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div>
                <img src="../../../../../assets/images/sun.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div>
                <img src="../../../../../assets/images/partly-cloudy.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div>
                <img src="../../../../../assets/images/partly-cloudy.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>
            <div>
                <img src="../../../../../assets/images/partly-cloudy.png" alt="Weather Icon" [width]="20" class="weather-icon">
            </div>


            <div class="font-medium">23°</div>
            <div class="font-medium">23°</div>
            <div class="font-medium">23°</div>
            <div class="font-medium">23°</div>
            <div class="font-medium">23°</div>
            <div class="font-medium">23°</div>
          </div>
    </div>
</div>
