<div class="dock mac-glass">
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/finder.png" alt="Icon 1" class="dock-icon">
        <div class="mac-tooltip">Finder</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/lanuchpad.png" alt="Icon 2" class="dock-icon">
        <div class="mac-tooltip">Launchpad</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/safari.png" alt="Icon 3" class="dock-icon">
        <div class="mac-tooltip">Safari</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/notes.png" alt="Icon 4" class="dock-icon">
        <div class="mac-tooltip">Notes</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/preview.png" alt="Icon 5" class="dock-icon">
        <div class="mac-tooltip">Preview</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/terminal.png" alt="Icon 5" class="dock-icon">
        <div class="mac-tooltip">Terminal</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/settings.png" alt="Icon 5" class="dock-icon">
        <div class="mac-tooltip">System Settings</div>
    </div>
    <div class="dock-icon-container relative">
        <img src="../../../../assets/images/bin.png" alt="Icon 5" class="dock-icon">
        <div class="mac-tooltip">Bin</div>
    </div>







</div>
